<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Website under maintenance</title>
  </head>
  <body>
    {{> header}}
    <p>
      {{screamIt pageMessage}}
    </p>
    {{> footer}}
  </body>
</html>